﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Project/logged.master" AutoEventWireup="true" CodeFile="AccountEdit.aspx.cs" Inherits="Project_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>





<asp:Content ID="Content2" ContentPlaceHolderID="placeholder" runat="server">
    <asp:Label ID="LbEditPhoto" runat="server" Text="Label">Zdjęcie profilowe:</asp:Label> <br />
    
    
    
    
   <!-- <asp:DropDownList CssClass="select" ID="DDListViewDodatkowe" runat="server">
                    <asp:ListItem>Wolny/a</asp:ListItem>
                    <asp:ListItem>Rozwiedziony/a</asp:ListItem>
                    <asp:ListItem>Wdowiec</asp:ListItem>
                    <asp:ListItem>Wdowa</asp:ListItem> 
                </asp:DropDownList> -->
    <asp:Image ID="Image1" runat="server" Height="120px" Width="90px" />
    <br />
    <asp:Button CssClass="niceButton" ID="Button1" runat="server" Text="Zmień zdjęcie" />
    <br />
    
</asp:Content>


