﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Project/MasterPage2.master" AutoEventWireup="true" CodeFile="c2MyProfile.aspx.cs" Inherits="Project_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<br />
Twoje imie: 
    <asp:Label ID="lblName" runat="server" Text=""></asp:Label>
    <br />
    Twoje nazwisko:
    
</asp:Content>

