﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Project/MasterPage.master" AutoEventWireup="true" CodeFile="cLogin.aspx.cs" Inherits="Project_Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="hldContent" Runat="Server">
       <div>
    Hello, login over here
        <br />
        Login:
          <asp:TextBox ID="txtBoxLogin" runat="server"></asp:TextBox>
        <br />
       Password: 
         <asp:TextBox ID ="txtBoxPassword" runat="server" TextMode="Password" ></asp:TextBox>
        <asp:Button ID="btnLogin" runat="server" Text="Log in!" OnClick="btnLogin_Click" />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </div>
</asp:Content>

