﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Project/unlogged.master" AutoEventWireup="true" CodeFile="Home.aspx.cs" Inherits="Project_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div>
        <asp:Label CssClass="hello" ID="Label1" runat="server" Text="
            Witaj na stronie XYZ! Aby zacząć korzystać z naszego portalu, musisz się zalogować. 
            Jeżeli nie masz jeszcze konta - załóż je!" Font-Bold="True"></asp:Label>
    </div>
        
<p>
    <asp:Button class="niceButton" runat="server" Text="Zaloguj" ID="btnLogin" />
    <asp:Button class="niceButton" runat="server" Text="Załóż konto" ID="btnRegister" />
</p>

</asp:Content>


