﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <%-- navbaar--%>
            <asp:LinkButton ID="btnLogin" runat="server" OnClick="btnLogin_Click" PostBackUrl="~/Project/cLogin.aspx">Login</asp:LinkButton>
            <asp:LinkButton ID="btnRegister" runat="server" PostBackUrl="~/Project/cRegister.aspx">Register</asp:LinkButton>
        </div>
        <asp:ContentPlaceHolder ID="hldContent" runat="server"></asp:ContentPlaceHolder>

    </form>
</body>
</html>
