﻿#body
{
    width:100%;
    background-color: white;
}

.hello
{
    font-size: x-large;
    color:orangered;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

#paragraph
{
    padding: 20px;
}

.unregistred
{
    align-content: center;
    align-items: center;
    align-self: center;
}

.registerbody
{
    align-items: center;
    align-self: center;
    align-content: center;
    grid-column-align: center;
    vertical-align: central;
    height: 100%;
    width: 100%;
}

.register
{
    float: left;
    position: center;
}
.registerbuttons
{
    float: initial;
    
}

#RegisterContent
{
    align-content: center;
    align-items:center;
    width: 100%;
    position: center;
    background-color: black;
}

#container
{
	margin: 0px;
	padding: 0px;
	clear:both;
	background-image: url("http://xn--sawomirmikoajczyk-23ck.pl/wp-content/uploads/2015/01/T%C5%82o-strony.jpg");
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.textbox
{
    color: orangered;
}
.label
{
    
    color: orangered;
    float: left;
    
}
.table
{
    color:orangered;
    position: center;
}

#tb
{
    float: left;
}
.name
{
    color: orangered;
    font-size: x-large;
}
.select 
{

    color: orangered;
    background-color: black;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-color: black;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}
#logo
{		
	background-attachment: fixed;	
	background-image: url(http://zwierciadlo.pl/wp-content/uploads/2013/03/sympatia_logo1.jpg);
	background-size: 100% 30%;
	color: white;
	text-align: center;
	padding: 100px;
    background-repeat:no-repeat;
}

#menu
{
    background-color: white;
	top: 250px;
	color: black;
	float: left;
	width: 10%;
	min-height: 620px;
	padding: 10px;
    
}

#CPH1
{
    position: center;
    float: left;
    font-family: Verdana;
    color: black;
    font-size: medium;
    background-color:white;
    width: 70%;
	padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#login
{

	color: black;
	float: right;
	width: 10%;
	min-height: 620px;
	padding: 10px;
}

#footer
{
	clear: both;
	background-color: orangered;
	color: white;
	text-align: center;
	padding: 2px;
}




.niceButton
{
    
    float:left;
	background:   orangered url('/images/alert-overlay.png') repeat-x; 
	display: inline-block;
	padding: 5px 10px 6px;
	color: white;   /*#fff; */
    text-decoration: none;
	font-weight: bold;
	line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
    top: 1px;
    left: -5px;
}	
/* Sizes ---------- */
.small.niceButton 
	{
	font-size: 11px;
	}
.medium.niceButton 
	{
	font-size: 13px;
	}
.large.niceButton 
	{
	font-size: 17px;
	padding: 12px 18px 13px;
    top: -10px;
    left: 33px;
    height: 13px;
    width: 76px;
}